.content {
    margin: auto;
  }
  
   h1 {
    font-size: 50px;
    text-align: top;
    color: darkred;
    font-family: Helvetica;
            }
      
    h2 {
        color: darkred;
        font-family: Helvetica;
        text-decoration: underline;
        text-transform: uppercase;
        }
    
    div {
       width: 1150px;
       text-align: center; 
        }
    
     
    .zanr {
        font-size:135;
        text-align: center;
        color: black;
        font-weight: bold}
        
    .autor, .zdroj {
        color: black;
        font-size: 20px;
        font-style: italic;
        background: bisque;
        border: 3px solid darkred;
        padding: 10px;
        margin: 60px;

        }    
        
    section {
        background: bisque;
        font-size: 25px;
        }
        
    footer {
        font-size:40;
        color: brown;
        font-weight: bold;
        font-family: Helvetica;
        line-height: 1.5;
        padding: 10px;
        margin: 40px;
        }
        
    i {
        color: firebrick;    
        }
        
    a {
        text-decoration: none;
        }

    body {
        background: url('https://www.spreadshirt.com/image-server/v1/designs/12346806,width=178,height=178/cute-devil.png');
    }
        
    section, .pytel, .soutez, .zaver {
        text-align: center;
        border: 3px solid darkred;
        padding: 10px;
        margin: 10px;
        }